.modal-product__card {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
}
.pizza__card-image {
  display: inline-block;
  width: 530px;
}
.card-image__wrapper {
  width: 100%;
  position: relative;
  user-select: none;
  image-rendering: auto;
  display: flex;
  flex-flow: column;
}
.card-image {
  transition: margin 0.25s ease-in-out 0s;
}
.small-pizza-img {
  margin: 147px 90px 0px;
}
.medium-pizza-img {
  margin: 110px 50px 0px;
}
.big-pizza-img {
  margin: 77px 14px 0px;
}
.pizza__img {
  width: 95%;
  margin-left: 5%;
}
.border-icon {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0px;
  line-height: 0;
  font-style: normal;
  position: absolute;
}
.big-border {
  top: 80px;
  left: 40px;
}
.medium-border {
  top: 113px;
  left: 73px;
}
.pizza__card-info {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 394px;
  height: 610px;
  padding: 30px 0px;
  background: rgb(252, 252, 252);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.pizza-info {
  position: relative;
  height: 478px;
  overflow: auto;
}
.pizza-info__title {
  font-size: 24px;
  line-height: 28px;
}
.pizza-info__additional {
  position: absolute;
  top: 3px;
  right: 0px;
}
.additional__info-icon {
  width: 23px;
  display: inline-block;
  cursor: pointer;
}
.additional__info-popup {
  position: absolute;
  width: 250px;
  margin-top: 0px;
  top: 36px;
  right: -12px;
  left: initial;
  min-height: 45px;
  padding: 12px;
  border-radius: 10px;
  background-color: rgb(55, 53, 53);
  color: rgb(255, 255, 255);
  font: 500 14px / 1.25 Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  z-index: 1;
  animation: show 0.2s;
}
.info-popup__pointer {
  right: 14px;
  position: absolute;
  width: 22px;
  top: -9px;
  fill: rgb(55, 53, 53);
}
.info-popup__title {
  font: 500 12px / 14px Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  opacity: 0.5;
  margin: 0px 0px 12px;
}
.info-popup__section {
  font: 500 12px / 13px Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.info-popup__section:not(:last-child) {
  margin-bottom: 8px;
}
.pizza-info__chosen {
  padding: 1px 0px 5px;
  color: rgb(92, 99, 112);
  font-size: 14px;
  line-height: 20px;
}
.pizza-info__composition {
  margin-bottom: 8px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.product__option {
  position: relative;
  background: transparent;
  border: none;
  padding: 0px;
  line-height: 20px;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}
.product__option::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 16px;
  border-bottom: 1px dashed rgb(92, 99, 112);
}
.product__option[data-removed='true'] {
  text-decoration: line-through;
}
.product__option[data-removed='true']::before {
  content: none;
}
.product-remove__icon {
  vertical-align: middle;
  line-height: 0;
}
.pizza-info__size {
  border-radius: 9999px;
  background-color: rgb(243, 243, 247);
  height: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 8px 0px;
}
.product-chosen {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transition: transform 200ms ease-out 0s, width;
  padding: 2px;
}
.small-chosen {
  transform: translateX(0%);
}
.medium-chosen {
  transform: translateX(100%);
}
.big-chosen {
  transform: translateX(200%);
}
.traditional-chosen {
  transform: translateX(0%);
}
.thin-chosen {
  transform: translateX(100%);
}
.product-chosen::before {
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 9999px;
  box-shadow: rgb(6 5 50 / 19%) 0px 6px 20px;
}
.product-size__input {
  display: none;
}
.product-size__label {
  font-weight: normal;
  display: block;
  flex: 1 1 0%;
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 9999px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  line-height: 32px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
  height: 32px;
  transition: color 150ms ease 0s;
}
.product-size__label:hover,
.product-size__input:checked + label {
  font-weight: 600;
}
.product-size__label[data-disabled='true'] {
  color: rgb(171, 173, 186);
}
.product-snacks__title {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 12px;
}
.product-snack-section {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -8px;
}
.snack-item__info {
  cursor: pointer;
  box-sizing: border-box;
  touch-action: manipulation;
  position: relative;
  min-height: 166px;
  width: calc(33.3333% - 8px);
  box-shadow: rgba(6, 5, 50, 0.12) 0px 4px 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font: inherit;
  margin: 0px 8px 8px 0px;
  padding: 8px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 12px;
  flex-flow: column;
  transition: box-shadow 150ms ease-out 0s, border;
}
.snack-item__info:hover {
  box-shadow: rgb(6 5 50 / 12%) 0px 0px 8px;
}
.snack-item__info:disabled {
  box-shadow: none;
  border: 1px solid rgb(226, 226, 233);
  color: rgb(171, 173, 186);
}
.snack-item__info:disabled img {
  opacity: 0.2;
}
.snack-item__info[data-selected='true'] {
  box-shadow: rgb(6 5 50 / 12%) 0px 0px 0px;
  border: 1px solid rgb(255, 105, 0);
}
.selected-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 150ms ease-out 0s;
}
.selected-icon[data-selected='true'] {
  opacity: 1;
}
.snack-item__title {
  font-size: 12px;
  height: 32px;
  flex: 1 0 auto;
  margin: 0;
  font-weight: normal;
}
.add-cart__button {
  position: relative;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(255, 105, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  border-radius: 9999px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  cursor: pointer;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.add-cart__button:hover {
  background-color: rgb(232, 97, 0);
}
.add-cart__button:active {
  background-color: rgb(255, 105, 0);
  color: rgb(255, 185, 135);
}

.choose-halves__wrapper {
  display: flex;
  height: 760px;
  width: 880px;
}
.choose-halves__pizzas {
  width: calc(100% - 350px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 19px 30px;
}
.choose-halves__title {
  font: 500 26px / 36px Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  min-width: 80%;
  max-width: 85%;
  margin: 20px 12px 10px;
}
.choose-halves__menu {
  width: 138px;
  text-align: center;
  margin: 12px;
  cursor: pointer;
}
.menu-img__wrapper {
  position: relative;
  width: 154px;
  height: 154px;
  margin: -8px;
  border-radius: 16px;
  padding: 8px 1px 1px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  overflow: hidden;
  transition-property: border-color, width, height, margin;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu-img__wrapper[data-selected='true'] {
  border-color: rgb(255, 105, 0);
  width: 138px;
  height: 138px;
  margin: 0;
}
.halves__menu-curtain {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 50%;
  background: rgb(255, 255, 255);
  opacity: 0.95;
}
.halves__menu-curtain.left {
  right: 0;
}
.halves__menu-curtain.right {
  left: 0;
}
.halves__menu-img {
  width: 100%;
}
.halves__menu-img[data-selected='false']:hover {
  padding: 1%;
  transition: padding 0.15s ease-in-out;
}
.halves__menu-desc {
  position: relative;
  margin-top: 4px;
  z-index: 3;
  font: 16px / 112% Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.halves__menu-price {
  font-size: 16px;
  line-height: 18px;
  color: rgb(92, 99, 112);
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}
.choose-halves__selected {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  max-height: 100%;
  padding: 27px;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  background: linear-gradient(
    rgba(252, 252, 252, 0) 0%,
    rgb(252, 252, 252) 100%
  );
}
.halves-desc__wrapper {
  height: 550px;
  overflow: auto;
  padding: 3px;
}
.halves__selected-images {
  position: relative;
  width: 100%;
  text-align: center;
}
.halves__selected-none {
  position: relative;
  height: 256px;
  width: 256px;
  left: 8px;
  top: 1px;
}
.halves__selected {
  position: absolute;
  top: 0px;
  width: 50%;
  overflow: hidden;
}
.halves__selected.left {
  left: 0px;
}
.halves__selected.right {
  left: 50%;
  border-left: 1px solid white;
}
.halves__selected-img {
  position: relative;
  width: 256px;
  height: 256px;
  object-fit: contain;
}
.halves__selected-img.left {
  left: 24px;
}
.halves__selected-img.right {
  left: -120px;
}
.halves__selected-desc {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.selected__halve-section {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 92px;
  margin: 8px 0px 0px;
  padding: 12px;
  border-radius: 16px;
  box-shadow: rgb(6 5 50 / 24%) 0px 1px 2px;
}
.halve-img__wrapper {
  position: relative;
  align-self: flex-start;
  min-width: 68px;
  width: 68px;
  height: 68px;
  margin-right: 8px;
}
.halve-title__wrapper {
  position: relative;
  font: 500 16px / 18px Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding-right: 30px;
  margin-bottom: 4px;
}
.selected__halve-info {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.halve-composition__wrapper {
  color: rgb(92, 99, 112);
  font: 12px / 16px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}
.selected__halve-empty {
  font: 500 16px / 18px Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding-right: 30px;
  margin-bottom: 4px;
  color: rgb(92, 99, 112);
}
.halves-buttons__wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 350px;
  padding: 12px 30px 30px;
  border-bottom-right-radius: 20px;
  background: rgb(252, 252, 252);
}
.add__cart-popup {
  top: -50px;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 12px;
  border-radius: 10px;
  background-color: rgb(55, 53, 53);
  font: 500 14px / 1.25 Dodo, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  animation: show 0.2s;
}
.cart-popup__pointer {
  left: 140px;
  top: 32px;
  transform: rotate(180deg);
  position: absolute;
  width: 22px;
  fill: rgb(55, 53, 53);
}

.product__card-image {
  width: 292px;
  margin: 48px;
  align-self: flex-start;
  display: inline-block;
}
.product__card-info {
  width: 324px;
  margin: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-flow: column;
}
