.show-locality-selector {
  position: fixed;
  inset: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  z-index: 1;
  animation: show 0.2s 1;
}
.show-locality-shadow {
  position: fixed;
  inset: 0px;
  background: black;
  opacity: 0.55;
}
.locality-selector-wrapper {
  padding: 24px;
  display: flex;
  align-items: center;
  min-height: 100%;
}
.locality-selector {
  position: relative;
  width: 1020px;
  height: 610px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
  border-radius: 20px;
  background: white;
  opacity: 1;
}
.locality-selector__header {
  padding: 30px 46px 15px;
}
.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.locality-selector__title {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  font-weight: 500;
}
.locality-selector__actions {
  position: relative;
  padding: 10px 46px 30px;
}
.locality-selector__input {
  width: 350px;
  height: 40px;
  padding-left: 40px;
  padding-right: 15px;
  border-radius: 8px;
  border: 1px solid rgba(92, 99, 112, 0.32);
  font-size: 16px;
  line-height: 40px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  outline-width: 1px;
  outline: none;
  transition: border-color 0.2s ease 0s;
}
.locality-selector__input:focus,
.phone-input:focus,
.code-input:focus {
  border-color: red;
}
.locality-selector__search-icon {
  position: absolute;
  left: 55px;
  top: 20px;
  z-index: 1;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.locality-selector__megacities {
  margin-top: 15px;
}
.megacity {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  margin-right: 20px;
}
.megacity:hover {
  color: rgb(255, 105, 0);
}

.locality-selector__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 340px;
  table-layout: fixed;
  padding-bottom: 20px;
  padding-left: 46px;
  padding-right: 100px;
  margin-top: 5px;
  overflow: auto;
}
.locality-selector__group {
  position: relative;
  display: table-cell;
}
.locality-selector__table__group {
  position: relative;
  cursor: pointer;
}
.locality-selector__group-letter {
  color: rgb(255, 105, 0);
  position: absolute;
  top: 3px;
  left: 0px;
}
.locality-selector__link {
  display: block;
  padding: 6px 30px;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
}
#scroll__gradient-top {
  position: absolute;
  left: 0px;
  width: calc(100% - 10px);
  height: 60px;
  transition: opacity 0.25s ease-in-out 0s, transform 0.25s ease-in-out 0s;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  pointer-events: none;
  z-index: 1000;
  transform: translateY(0px) translateZ(0px);
  bottom: auto;
  display: none;
}
#scroll__gradient-bottom {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: calc(100% - 10px);
  height: 60px;
  transition: opacity 0.25s ease-in-out 0s, transform 0.25s ease-in-out 0s;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  pointer-events: none;
  z-index: 1000;
}
.close-icon {
  position: absolute;
  top: 13px;
  right: -38px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out 0s;
}

.modal-login__form {
  width: 660px;
  height: 360px;
  padding: 36px 48px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 20px;
}
.modal-login__title {
  margin: 0px 0px 35px;
  font-size: 36px;
  font-weight: 500;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.modal-login__phone {
  margin-bottom: 35px;
}
.phone-text {
  width: 165px;
  display: inline-block;
}
.phone-input {
  width: 245px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(92, 99, 112, 0.32);
  padding: 0px 15px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  outline: none;
  box-shadow: none;
  transition: border-color 0.2s ease 0s;
}

.input-error_anchor {
  position: absolute;
  text-align: center;
  width: 270px;
  z-index: 5;
  left: 213px;
  cursor: default;
  animation: show 0.2s 1;
}
.tooltip__pointer_default {
  fill: rgb(225, 43, 63);
  left: 30px;
  position: absolute;
  margin-left: -11px;
  width: 22px;
  line-height: 0;
}
.input-error_content {
  background-color: rgb(225, 43, 63);
  margin-top: 9px;
  padding: 14px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.tooltip__close-control {
  padding: 0px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 6px);
  right: 12px;
  width: 22px;
  fill: rgb(255, 255, 255);
  transition: transform 0.15s ease 0s;
}
.tooltip__close-control:hover {
  transform: scale(1.1);
}
.error-tooltip-icon {
  position: absolute;
  left: 16px;
  top: calc(50% - 6px);
  margin-right: 10px;
}

.modal-login__button {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(255, 105, 0);
  color: rgb(255, 255, 255);
  width: 200px;
  font-weight: 500;
  position: absolute;
  bottom: 36px;
  border: none;
  border-radius: 9999px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  cursor: pointer;
}
.modal-login__button:hover {
  background-color: rgb(232, 97, 0);
  transition: background-color 0.2s ease-out;
}
.modal-login__button:active {
  background-color: rgb(255, 105, 0);
  color: rgb(255, 185, 135);
  transition: background-color, color 0.2s ease-out;
}

.phone-input-wrapper {
  display: inline;
}
.phone-input-send {
  width: 245px;
  color: rgb(170, 170, 170);
  border: 1px solid rgb(243, 243, 247);
  background-color: rgb(243, 243, 247);
  cursor: not-allowed;
  height: 40px;
  border-radius: 8px;
  padding: 0px 15px;
  font-size: 16px;
  line-height: 40px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}
.phone-input-change {
  position: relative;
  right: 77px;
  bottom: 1px;
  font-size: 14px;
  border-bottom: 1px dashed rgb(255, 105, 0);
  text-decoration: none;
  color: rgb(255, 105, 0);
  cursor: pointer;
}

.code-input {
  width: 100px;
  margin-right: 15px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(92, 99, 112, 0.32);
  padding: 0px 15px;
  font-size: 16px;
  line-height: 40px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  outline: none;
  transition: border-color 0.2s ease 0s;
}
.code-text__timing {
  font-size: 14px;
  color: rgb(92, 99, 112);
}
.code-text {
  font-size: 14px;
  border-bottom: 1px dashed rgb(255, 105, 0);
  text-decoration: none;
  color: rgb(255, 105, 0);
  cursor: pointer;
}

.code-error-tooltip {
  position: absolute;
  text-align: center;
  width: 185px;
  z-index: 5;
  left: 165px;
  cursor: default;
  animation: show 0.2s 1;
}
