.nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.nav[data-stick='true'] {
  box-shadow: rgb(0 0 0 / 12%) 0px 3px 25px;
}
.sticky-logo {
  vertical-align: middle;
  font-size: 0px;
  line-height: 0;
  position: relative;
  width: 52px;
  padding-right: 16px;
  height: 36px;
  overflow: hidden;
  display: inline-block;
}
.sticky-logo svg {
  transform: translateX(-52px);
  transition: transform 0.25s ease 0s;
}
.sticky-logo svg[data-stick='true'] {
  transform: translateX(0px);
}
.products {
  white-space: nowrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  transform: translateX(-52px);
  transition: transform 0.25s ease 0s;
}
.products[data-stick='true'] {
  transform: translateX(0px);
}
.product {
  display: inline-block;
  vertical-align: middle;
}
.product:not(:first-child) {
  margin-left: 20px;
}
.product-link {
  display: inline-block;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 22px 0px;
  color: black;
  font-size: 14px;
  line-height: 1;
  transition: padding 0.25s ease 0s;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.product-link:hover,
.camera-link:hover {
  color: rgb(255, 105, 0);
  transition: color 0.2s ease 0s;
}
.camera-link {
  display: inline-block;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 22px 0px;
  font-size: 14px;
  line-height: 1;
  margin-left: 14px;
  position: relative;
  cursor: pointer;
}
.camera-link::before {
  content: ' ';
  background: red;
  width: 9px;
  height: 9px;
  position: absolute;
  left: -14px;
  bottom: 25px;
  border-radius: 50%;
  animation: 2s infinite pulse;
}
@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.nav__cart {
  position: absolute;
  top: 9px;
  right: 0;
  height: 100%;
}
.nav__cart-btn {
  display: flex;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(255, 105, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 9999px;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  position: relative;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.nav__cart-btn:hover {
  background-color: rgb(232, 97, 0);
}
.nav__cart-btn:active {
  background-color: rgb(255, 105, 0);
  color: rgb(255, 185, 135);
}
.cart-line {
  height: 24px;
  width: 1px;
  margin: 0px 12px;
  background: rgb(255, 255, 255);
  opacity: 0.4;
}
.cart-desc__arrow {
  position: absolute;
  top: 14px;
  right: 16px;
  transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  opacity: 0;
  transform: translateX(-5px);
}
.nav__cart-btn:hover .cart-desc__arrow {
  opacity: 1;
  transform: translateX(0px);
}
.products-cart__length {
  display: inline-block;
  width: 14px;
  text-align: center;
  position: relative;
  left: -1px;
  transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  opacity: 1;
  transform: translateX(0px);
}
.nav__cart-btn:hover .products-cart__length {
  opacity: 0;
  transform: translateX(5px);
}
.floating-cart__container {
  position: absolute;
  right: 0px;
  top: 48px;
  padding: 32px 0px;
  box-shadow: rgb(0 0 0 / 12%) 0px 3px 25px;
  border-radius: 8px;
  width: 352px;
  background-color: #fff;
  font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px);
  transition: transform 0.2s ease-in-out 0.5s, opacity 0.2s ease-in-out 0.5s,
    visibility 0.2s ease-in-out 0.5s;
}
.nav__cart:hover .floating-cart__container {
  visibility: visible;
  opacity: 1;
  transform: translateY(5px);
  transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}
.pointer-icon__cart {
  position: absolute;
  top: -10px;
  right: 38.9375px;
  width: 22px;
  height: 11px;
  fill: white;
}
#floating-cart__products {
  max-height: calc(100vh - 280px);
  padding: 0 32px;
  overflow: auto;
  margin-top: -16px;
}
#floating-cart__products[data-stick='true'] {
  max-height: calc(100vh - 200px);
}
.floating-cart__content {
  text-align: center;
  padding: 32px;
  white-space: pre-wrap;
  font-size: 15px;
}
.floating-cart__product {
  width: 100%;
  position: relative;
  display: flex;
  padding: 16px 0px;
  border-bottom: 1px solid rgb(226, 226, 233);
  transition-property: margin-top, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.floating-cart__image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  flex: 0 0 auto;
  margin-right: 8px;
}
.cart__product-delete {
  position: absolute;
  top: 16px;
  right: -2px;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0px 0px;
}
.cart__product-desc {
  font-size: 12px;
  line-height: 16px;
  color: rgb(92, 99, 112);
  margin-bottom: 8px;
}
.product__quantity-price {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.cart__product-quantity {
  width: 96px;
  height: 32px;
  display: flex;
  background-color: rgb(243, 243, 247);
  border-radius: 9999px;
  justify-content: space-between;
}
.cart__product-balance {
  background: none;
  cursor: pointer;
  width: 35.41%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__product-count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__product-gift {
  font-size: 14px;
  color: rgb(255, 105, 0);
  height: 21px;
  line-height: 21px;
  display: flex;
}
.products-cart__price {
  position: absolute;
  right: 0px;
  top: 0px;
}
/*.add-cart__popup {
  position: absolute;
  top: 75px;
  right: 0;
  width: 250px;
  animation: show 0.2s;
}*/
